.header {
	grid-area: header;
	width: 1176px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	background-color: var(--cyan);
}

.header.dark {
	grid-area: header;
	background-color: var(--menu-dark);
}

.header__btn {
	background-color: var(--cyan);
	color: var(--menu-dark);
}

.header__btn.dark {
	background-color: var(--menu-dark);
	color: var(--white);
	text-align: center;
}

.header h2 {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 33px;
	color: var(--white);
}

.header__nav {
	width: 186px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}