.subtitle {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--black);
	padding-left: 20px;
	margin-bottom: 15px;
	margin-top: 0;
}

.subtitle.dark {
	color: var(--white);
}

svg {
	margin-right: 14px;
}